.sp-splitview {
  /* display styles */
  display: flex;
  position: relative;

  /* sizes */
  width: 100%;
  height: 100%;
}

.sp-splitview--horizontal {
  flex-direction: column;
}

.sp-splitview--vertical {
  flex-direction: row;
}

.sp-splitview__pane {
  /* display styles */
  overflow: hidden;
}

.sp-splitview--horizontal > .sp-splitview__pane {
  /* sizes */
  width: 100%;
}

.sp-splitview--vertical > .sp-splitview__pane {
  /* sizes */
  height: 100%;
}

.sp-splitview__gutter--embed {
  flex-shrink: 0;
}

.sp-splitview__gutter--absolute {
  /* display styles */
  position: absolute;
  left: 0;
  top: 0;
}

.sp-splitview__gutter--disabled {
  pointer-events: none;
}

.sp-splitview--vertical > .sp-splitview__gutter {
  /* sizes */
  height: 100%;

  /* cursor */
  cursor: col-resize;
}

.sp-splitview--horizontal > .sp-splitview__gutter {
  /* sizes */
  width: 100%;

  /* cursor */
  cursor: row-resize;
}

/* animation */
.sp-splitview__pane--animated {
  transition-duration: 300ms;
  transition-property: flex-basis;
}

.sp-splitview__pane--expanding {
  /* easeOutQuadratic */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sp-splitview__pane--collapsing {
  /* easeInQuadratic */
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
